/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */

 div#root {
  width: 100%;
}

 section.fight {
  display: flex;
  justify-content: space-between;
}

.left {
  display:flex;
}

.right {
  display:flex;
  flex-direction: row-reverse;
}

.fight li {
  list-style: none;
}

.right li {
  text-align: right;
}


#leftpokemon {
  position: absolute;
  left: 20%;
  transition: left 0.5s ease; /* Agrega una transición suave en la propiedad left durante 0.5 segundos con una función de temporización 'ease' */
  
}

.leftpokemonfight {
  position: absolute !important;
  left: 47% !important;
  animation: spin 0.1s linear infinite;
}

.leftpokemonfight p {
  display:none;
}

#rightpokemon {
  position: absolute;
  right: 20%;
  transition: right 0.5s ease;

}

.rightpokemonfight {
  position: absolute !important;
  right: 47% !important;
  animation: spin 0.1s linear infinite
}

.rightpokemonfight p {
  display:none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Gira 360 grados */
  }
}